*{
    padding: 0;
    margin: 0;
}

nav{
    width: 100%;
    height: 10%;
}

main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-form{
    width: 100%;
    height: 90%;
    background-image: url('/public/assets/img/bg-hopital2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.error{
    color: red;
}

.txtTr{
    color: white;
}

.link{
    color: yellow;
}

.linkModify{
    color: rgb(107, 20, 138);
}

.linkDelete{
    color: rgb(193, 9, 9);
}

.red{
    color: red;
    font-weight: 700;
}

.green{
    color: rgb(21, 255, 21);
    font-weight: 700;
}

.divContainerBtn{
    width: 100%;
    height: 20%;
}


.divBtn{
    width: 70%;
}